@font-face {
    font-family: "Line Seed";
    src: url("./LINESeedSansTH_W_Th.woff");

    font-weight: 300;
}

@font-face {
    font-family: "Line Seed";
    src: url("./LINESeedSansTH_W_Rg.woff");

    font-weight: 400;
}

@font-face {
    font-family: "Line Seed";
    src: url("./LINESeedSansTH_W_Bd.woff");

    font-weight: 700;
}

@font-face {
    font-family: "Line Seed";
    src: url("./LINESeedSansTH_W_XBd.woff");

    font-weight: 800;
}

@font-face {
    font-family: "Line Seed";
    src: url("./LINESeedSansTH_W_He.woff");

    font-weight: 900;
}